window {
    margin: 0px;
    border: 1px solid #b16286;
    background-color: #32302f;
    color: #ebdbb2;
}

#input {
    margin: 5px;
    border: none;
    color: #ebdbb2;
    background-color: #928374;
}

#inner-box, #outer-box {
    margin: 5px;
    border: none;
    background-color: #32302f;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ebdbb2;
}

#entry.activatable #text {
    color: #ebdbb2;
}

#entry > * {
    color: #ebdbb2;
}

#entry:selected {
    background-color: #b16286;
    color: #32302f;
}

#entry:selected #text {
    color: #d3869b;
    font-weight: bold;
}
