window {
    margin: 0px;
    border: 1px solid #7dcfff;
    background-color: #24283b;
    color: #c0caf5;
}

#input {
    margin: 5px;
    border: none;
    color: #c0caf5;
    background-color: #565f89;
}

#inner-box, #outer-box {
    margin: 5px;
    border: none;
    background-color: #24283b;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #c0caf5;
}

#entry.activatable #text {
    color: #c0caf5;
}

#entry > * {
    color: #c0caf5;
}

#entry:selected {
    background-color: #7dcfff;
    color: #24283b;
}

#entry:selected #text {
    color: #24283b;
    font-weight: bold;
}
